@import 'https://fonts.googleapis.com/css?family=Raleway';

@font-face {
    font-family: 'Samim';
    src: url('font/Samim.eot');
    src: url('font/Samim.eot?#iefix') format('embedded-opentype'),
     url('font/Samim.woff') format('woff'),
     url('font/Samim.ttf') format('truetype');
    font-weight: normal;
}

.box-ea12alfa {
  width: 330px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-box-ea12alfa 0.5s forwards ease-in-out;
}
@keyframes show-box-ea12alfa {
  0% {
    width: 0;
  }
}
.box-ea12alfa .photo-ea12alfa, .box-ea12alfa .content-ea12alfa {
  box-sizing: border-box;
}
.box-ea12alfa .photo-ea12alfa {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.box-ea12alfa .photo-ea12alfa img {
  width: 100%;
}
.box-ea12alfa .content-ea12alfa {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.box-ea12alfa .content-ea12alfa::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #0ad2b2;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.box-ea12alfa .content-ea12alfa .text-ea23alfa {
  margin-top: 10px;
  margin-left: 50px;
}
.box-ea12alfa .content-ea12alfa .text-ea23alfa h3, .box-ea12alfa .content-ea12alfa .text-ea23alfa h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.box-ea12alfa .content-ea12alfa .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.box-ea12alfa .content-ea12alfa .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.box-ea12alfa .content-ea12alfa .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.box-ea12alfa .content-ea12alfa .btn span::before, .box-ea12alfa .content-ea12alfa .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.box-ea12alfa .content-ea12alfa .btn span::before {
  margin-top: -7px;
}
.box-ea12alfa .content-ea12alfa .btn span::after {
  margin-top: 7px;
}
.box-ea12alfa .content-ea12alfa .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.box-ea12alfa .content-ea12alfa .btn.active span::before, .box-ea12alfa .content-ea12alfa .btn.active span::after {
  width: 60%;
  right: -1px;
}
.box-ea12alfa .content-ea12alfa .btn.active span::before {
  transform: rotate(45deg);
}
.box-ea12alfa .content-ea12alfa .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.box-ea12alfa .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.box-ea12alfa .box a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}

.box-ea12alfa .box a img {
    width: 33px;
    margin-top: 10px;
}
}

.box-ea12alfa .box a:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.box-ea12alfa .box.open {
  opacity: 1;
}
.box-ea12alfa .box.open a {
    left: -80px;
    top: -40px;
}
.box-ea12alfa .box.open a:nth-of-type(1) {
  transform: translateX(120px);
  transition-delay: 0s;
  left: -75px;
}
.box-ea12alfa .box.open a:nth-of-type(2) {
  transform: translateX(120px);
  transition-delay: 0.1s;
  left: -175px;
}
.box-ea12alfa .box.open a:nth-of-type(3) {
  transform: translateX(120px);
  transition-delay: 0.2s;
  left: -275px;
}
.box-ea12alfa .box.open a:nth-of-type(4) {
  transform: translateX(120px);
  transition-delay: 0.3s;
  left: -375px;
}

.box-ea12alfa .content-ea12alfa .text-ea23alfa h3, .box-ea12alfa .content-ea12alfa .text-ea23alfa h6 {
  direction: rtl;
  font-family: "Samim", wdyekan,calibri,tahoma,sans-serif;
  margin-right: 100px;
}
